.navigationHeader {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 13.5px;
  width: 100%;
  position: relative;
}

.navigationButton {
  height: 21px;
  text-decoration: none;
  color: #999;
  display: inline-block;
  outline: none !important;
  padding: 14.5px;
  transition: all ease-in-out .1s;
  cursor: pointer;
  float: left;
}
.navigationButton:hover {
  color: #fff;
  text-decoration: none;
}

.navigationHidden {
  margin-right: -170px;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in-out .5s;
}

.navigationVisible{
  margin-right: 0px;
  opacity: 1;
  visibility: visible;
  transition: all ease-in-out .5s;
}

.navigationSeparator {
  height: auto;
  position: relative;
  display: block;
  border-left: 1px solid #999;
  box-sizing: border-box;
  padding: 15px 0px;
  margin: 11px 2px 0 2px;
}

.navigationSlide {
  color: #999;
  padding: 15px 0px;
  cursor: pointer;
  transition: all ease-in-out .1s;
}

.navigationSlide:hover {
  color: #fff;
}

.navigationMenu {
  height: 50px;
  width: 100%;
  display: inline-block;
  background-color: #222;
  border-color: #222;
  border-bottom: 2px solid #333;
  margin: 0px;
  padding-left: 20px;
}

.navigationMenu>.navigationToLeft>a {
  float: left !important;
}

.navigationMenu>.navigationToLeft>li {
  float: left !important;
}

.navigationMenu>.navigationToRight>li {
  float: right !important;
}

.navigationMenu>.navigationToRight>a {
  float: right !important;
}

.navigationToLeft {
  left: 0px !important;
  margin-left: 0px !important;
  position: relative;
  transition: all ease-in-out .5s;
}

.navigationToRight {
  right: 0px !important;
  margin-right: 40px !important;
  position: relative;
  transition: all ease-in-out .5s;
}

.navigationFade {
  opacity: 0;
  visibility: hidden;
  transition: all ease-in-out .5s;
}
